@model Chico.Models.PartyViewModels.OrganizationViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChicoSignUpDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChicoSignUpDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstablishmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstablishmentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncludeInListing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncludeInListing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfEmployees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberOfEmployees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegisteredAgent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegisteredAgent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naicscode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naicscode)
        </dd>
        <dt>
            Financial info
        </dt>
        <dd>
            <a asp-controller="FinancialInfoes" asp-action="Details" asp-route-id="@Model.PartyId">Fin. info</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emails)
        </dt>
@foreach (var item in Model.Emails)
{
    <dd>
        @Html.DisplayFor(model => item.Email1),
    </dd>
}
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartyId">Edit</a> <br />
    <a asp-controller="Emails" asp-action="Create" asp-route-id="@Model.PartyId">Add email</a> |
    <a>Add Contact Details</a> |
    <a>Add Key Personnel</a> |
    <a>Add Owner Information</a> |
    <a>Add Contractor License</a> |
    <a>Add References</a> |
    <a asp-controller="FinancialInfoes" asp-action="Create" asp-route-id="@Model.PartyId">Add financial info</a> |
    <a>Subsidiary and Affiliates</a> |
    <a>Add Insurance/Surety Details</a> |
    <a>Add Attachments</a> |
    <a>Add Certifications</a> |
    <a>Add Life Insurance Info</a> |


    <a asp-action="Index">Back to List</a>
</div>
