@model IEnumerable<Chico.Models.Organization>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("admin"))
{
    <p>
        Create : <a asp-controller="Organizations" asp-action="Create">New organization</a>
    </p>
}
@using (Html.BeginForm())
{
    <p>
        NAICS code: @Html.TextBox("searchNaics")
        <!--<div id='button-holder'>-->
            <img src='~/images/magnifying-glass-icon-10.png' />
        <!--</div>-->
        <input type="submit" value="Filter" />
    </p>
}
 
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.ChicoSignUpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstablishmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naicscode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfEmployees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Purpose)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredAgent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChicoSignUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naicscode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredAgent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartyId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
