@model IEnumerable<Chico.Models.ProjectParty>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AssignmentDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.OverseeingParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartyRoleInProjectNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssignmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverseeingParty.PartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party.PartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartyRoleInProjectNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
